<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    @Styles.Render("~/Content/css")


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Layout.js"></script>
    
   
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/SignalProject.js"></script>

</head>

<body>


    <div class="container body-content">
        <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
            <ul class="navbar-nav">
                @{

                    <li class="nav-item">
                        <a class="nav-link" id="LayoutInfo" href="http://localhost:50250/Home/Info">Главная</a>
                    </li>
                    if (ViewBag.Share != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="LayoutProfile" href="http://localhost:50250/Home/Profile">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="LayoutProjects" href="http://localhost:50250/Home/Projects">Проекты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="LayoutCalendar" href="http://localhost:50250/Home/Index">Календарь</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link active" href="http://localhost:50250/Home/Profile">@ViewBag.Share.Name</a>
                        </li>
                        <li class="dropdown">
                            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none">
                                <img id="NotifyImg" src="\Images/ring5.png">
                            </a>
                            <ul class="dropdown-menu" id="NotificationBtn">
                                <li><a href="#">Текст  подпункта  подпункта подпункта</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="http://localhost:50250/Home/LogOut">Выйти</a>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link disabled" id="LayoutProfile" href="#">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" id="LayoutProjects" href="#">Проекты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled " id="LayoutCalendar" href="#">Календарь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:50250/Home/LogIn">Войти</a>
                        </li>
                    }
                }

            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">

                @{
                    if (ViewBag.Share != null)
                    {

                        <div id="vertmenue" class="col-md-4 col-lg-4 navbar-container bg-light">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <a class="navbar-brand" href="#">Список друзей</a>
                                <input class="form-control" type="text" id="SearchInput" placeholder="Search">
                                <button class="btn btn-outline-success" id="Search">Найти</button>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="navbar-nav" id="friend-list">

                                        @{
                                            string str;

                                            foreach (TaskList.Models.Friend friend in ViewBag.Share.Friends)
                                            {
                                                if (friend.IsAssept == true)
                                                {

                                                    str = "friend-" + friend.Name;
                                                    <li class="nav-item" id=@str>
                                                        <a class="nav-link friend" href="#link-1">@friend.Name</a>
                                                        <button type="button" class="DeleteFriend btn-xs btn-danger">Удалить</button>
                                                    </li>
                                                    <li class="nav-item" >
                                                        <a class="nav-link friend" href="#link-1">Друг</a>
                                                        <button type="button" class="DeleteFriend btn-xs btn-danger">Удалить</button>
                                                    </li>
                                                }
                                            }

                                            <li role="separator" class="divider" id="divider"></li>
                                            <li class="nav-item">
                                                <a class="nav-link friend" href="#link-1">Подписчик</a>
                                                <button type="button" class="AcceptFriend btn-xs btn-success">Принять</button>
                                            </li>
                                            foreach (TaskList.Models.Friend friend in ViewBag.Share.Friends)
                                            {
                                                if (friend.IsAssept == false)
                                                {
                                                    str = "subscriber-" + friend.Name;
                                                    <li class="nav-item" id=@str>
                                                        <a class="nav-link friend" href="#link-1">@friend.Name</a>
                                                        <button type="button" class="AcceptFriend btn-xs btn-success">Принять</button>
                                                    </li>

                                                }
                                            }

                                        }
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    }
                }
                @RenderBody()

            </div>
        </div>
   

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

   
</body>
</html>


<style>

    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }


    .dropdown-toggle::after {
        display: none;
    }

        .navbar-container .navbar {
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            height: 100%;
        }

        .navbar-container .navbar-collapse {
            align-items: flex-start;
        }

        .navbar-container .nav {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .navbar-container .navbar-nav {
            flex-direction: column !important;
        }
</style>