
@{
    ViewBag.Title = "CreateProjects";

}

@model TaskList.Models.Project

<input type="hidden" id="ProjectKey" value="@Model.Key">
@{ if (Model.ReadPermission != "3" || ViewBag.Share.Name == Model.Creator)
    {

<div class="col-md-8">
    @{
        if (Model.SettingsPermission != "3" || ViewBag.Share.Name == Model.Creator)
        {
            <h2 class="col-md-offset-4">@Model.Name <button type="button" style="background-color:white; border:none" data-toggle="modal" data-target="#ProjectSettings" class="col-md-offset-4"><img src="\Images/setting_icon.png"></button></h2>
        }
            <div class="modal fade" id=ProjectSettings tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Настройки проекта</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" style="padding-left:20px">
                                <label for="ChangePermission">Выберите участников проекта</label>
                                <div id="colaborators">
                                    @{if (Model.Users.Count > 0)
                                        {
                                            foreach (TaskList.Models.User user in Model.Users)
                                            {
                                                if (user.Name != Model.Creator)
                                                {
                                                    <p id="colab_@user.Name">@user.Name<button onclick="deleteColab('@user.Name')" type="button" style="background-color:white; border:none"><img src="\Images/delete_icon.png"></button></p>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <p>У вас нет друзей</p>
                                        }
                                    }

                                </div>
                                @{ 
                                    if (ViewBag.Share != null)
                                    {
                                <select style="min-width:90%" id="ChangePermission" class="browser-default custom-select">

                                    @{

                                        foreach (TaskList.Models.Friend friend in ViewBag.Share.Friends)
                                        {

                                            <option id="friend_@friend.Name" value=@friend.Name>@friend.Name</option>
                                        }

                                        }
                                    </select>
                                    <button type="button" class="btn-primary" id="AddColaborators">Добавить</button>
                                            }
                                        }




                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
                            <button type="button"  class="SaveSettings btn btn-success" id=@Model.Key>Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        
    }
    <hr>
    <h3 class="col-md-offset-4">@Model.Describtion</h3>


    <div class="row">
        <div class="col-md-10" id="TextArea">
            @{ if (Model.Rows == null)
                {
                    <h2>Список целей пуст</h2>
                }
                else
                {
                    int i = 0;
                    string rowid = "";
                    foreach (TaskList.Models.Row row in Model.Rows)
                    {
                        rowid = "RowCheckbox" + row.Id;
                        <p class="col-md-10" id="step" @i>@row.Text</p>
                        if (row.IsDone == true)
                        {
                            <input type="checkbox" class="col-md-2 form-check-input RowCheckbox" checked="checked" id=@rowid @row.Id>
                        }
                        else
                        {
                            <input type="checkbox" class="col-md-2 form-check-input RowCheckbox"  id=@rowid @row.Id>
                        }
                        i++;
                    }
                }
            }
        </div>
        <div class="col-md-1" id="BtnArea">

        </div>
    </div>
    @{
        if (Model.ChangePermission != "3" || ViewBag.Share.Name == Model.Creator)
        {
            <div class="col-md-5 col-md-offset-3">

                <textarea class="form-control" id="InputArea" rows="3"></textarea>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success btn-lg" id="AddStep">Добавить</button>
            </div>
        }
        <script src="~/Scripts/CreateProjects.js"></script>
    }

</div>



        } else
        {

                   <p>У вас нет прав на просмотр проекта</p>

                }
}


